# mysql-conf/my.cnf
[mysqld]
skip-host-cache
skip-name-resolve

# keep MySQL small
innodb_buffer_pool_size = 64M
innodb_log_buffer_size  = 8M
key_buffer_size         = 8M
tmp_table_size          = 32M
max_heap_table_size     = 32M
max_connections         = 60
table_open_cache        = 256
performance_schema      = OFF

# silence the warning you saw
open_files_limit        = 1024
innodb_open_files       = 256

